.signups-body
  .single-container	
    %header.single-header
      %h1
        =link_to "http://localhost:3000" do
          %img(src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308" alt="mercari")
    %main.single-main
      %section.l-single-container
        %h2.l-single-head.registration
          新規会員登録
        .l-single-inner.registration-form
          .l-single-content
            =link_to "/signups/newmember", class: "btn-default btn-mail" do
              = fa_icon 'envelope', class: "icon-mail"
              メールアドレスで登録する
            %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
              = fa_icon 'facebook-square 2x', class: "icon-facebook"
              Facebookで登録する
            %button#google-login.btn-default.btn-sns.btn-sns-google
              = image_tag '/246x0w.jpg', alt: 'google', height: '20', width: '25', class: 'google-icon'
              Googleで登録する
      %form#login_form_facebook{action: "/jp/signup/facebook/", method: "POST", novalidate: "novalidate"}
        %input{name: "__csrf_value", type: "hidden", value: "b2e5b4f0cff37017373d1ec91597f831808273eae11a4d39c38b6344b1d5ca243d45889a41cc3f0a721d25d7df429477f14296b17b26d2b2f105a7a00725f6400"}
        %input{name:"nickname", type: "hidden", value: ""}
        %input{name: "email", type: "hidden", value: ""}
        %input{name: "facebook_user_id", type: "hidden", value: ""}
        %input{name: "facebook_access_token", type: "hidden", value: ""}
        %input{name: "login_type", type: "hidden", value: "facebook"}
      %form#login_form_google{action: "/jp/signup/google/", method: "POST", novalidate: "novalidate"}
        %input{name: "__csrf_value", type: "hidden", value: "b2e5b4f0cff37017373d1ec91597f831808273eae11a4d39c38b6344b1d5ca243d45889a41cc3f0a721d25d7df429477f14296b17b26d2b2f105a7a00725f6400"}
        %input{name: "nickname", type: "hidden", value: ""}
        %input{name: "email", type: "hidden", value: ""}
        %input{name: "google_user_id", type: "hidden", value: ""}
        %input{name: "google_access_token", type: "hidden", value: ""}
        %input{name: "login_type", type: "hidden", value: "google"}
    = render 'registration_footer'