=render "items/header"

%main.container
  .container__content
    %section.container__content--box 
      %h2.container__content--box-head 支払い方法
      .container__content--box-inner
        %section.container__content--box-inner-section
          .container__content--box-inner-section-sub
            %h3.container__content--box-inner-section-sub-head クレジットカード一覧
        %section.container__content--box-inner-add
          .container__content--box-inner-add-card
            =link_to "",class:"container__content--box-inner-add-card-btn" do
              %i.icon-container__content--box-inner-add-card-btn
                クレジットカードを追加する
        .container__content--box-inner-help
          =link_to "",class:"container__content--box-inner-help-link" do
            %span 支払い方法について
            %i.icon-container__content--box-inner-help-link
   
  =render 'slide_bar'

=render "items/footer"
