.modal
  %h5.modal__head
    出品が完了しました
  .modal__text
    %p
      あなたが出品した商品は「出品した商品一覧」からいつでも見ることができます。
    = link_to "", class: "modal__text__continue" do
      続けて出品する
    = link_to "", class: "modal__text__items-page" do
      商品ページへ行ってシェアする