= render "items/header"

%main.container
  .container__content
    .container__content--box
      %form(action="" method="post" class="container__content--box-form")
        .container__content--box-form-content
          %button(type="submit" class="container__content--box-form-content-btn")
            ログアウト
          %input(type="hidden" name="" value="")

  =render 'slide_bar'

= render "items/footer"

=render 'items/selling_btn'