= render "items/header"
.signups-body
  - breadcrumb :logout
  =render 'categories/bread'

%main.container
  .container__content
    .container__content--box
      %form(action="" method="post" class="container__content--box-form")
        .container__content--box-form-content
          %button(type="submit" class="container__content--box-form-content-btn")
            ログアウト
          %input(type="hidden" name="" value="")

  .container__side
    .container__side--nav
      %ul.container__side--nav-listing
        %li.container__side--nav-listing-list
          =link_to "マイページ", "",class:"container__side--nav-listing-list-item"
           
        %li.container__side--nav-listing-list
          =link_to "お知らせ", "",class:"container__side--nav-listing-list-item"
           
        %li.container__side--nav-listing-list
          =link_to "やることリスト", "",class:"container__side--nav-listing-list-item"
           
        %li.container__side--nav-listing-list
          =link_to "いいね！一覧", "",class:"container__side--nav-listing-list-item"
           
        %li.container__side--nav-listing-list
          =link_to "出品する", "",class:"container__side--nav-listing-list-item"
    
        %li.container__side--nav-listing-list
          =link_to "出品した商品 - 出品中", "",class:"container__side--nav-listing-list-item"
          
        %li.container__side--nav-listing-list
          =link_to "出品した商品 - 取引中", "",class:"container__side--nav-listing-list-item"
          
        %li.container__side--nav-listing-list
          =link_to "出品した商品 - 売却済み", "",class:"container__side--nav-listing-list-item"
        
        %li.container__side--nav-listing-list
          =link_to "購入した商品 - 取引中", "",class:"container__side--nav-listing-list-item"
          
        %li.container__side--nav-listing-list
          =link_to "購入した商品 - 過去の取引", "",class:"container__side--nav-listing-list-item"
          
        %li.container__side--nav-listing-list
          =link_to "ニュース一覧", "",class:"container__side--nav-listing-list-item"
    
        %li.container__side--nav-listing-list
          =link_to "評価一覧", "",class:"container__side--nav-listing-list-item"
         
        %li.container__side--nav-listing-list
          =link_to "ガイド", "",class:"container__side--nav-listing-list-item"
          
        %li.container__side--nav-listing-list
          =link_to "お問い合わせ", "",class:"container__side--nav-listing-list-item"
   
      %h3.container__side--nav-merupay  メルペイ
      %ul.container__side--nav-listing
        %li.container__side--nav-listing-list
          =link_to "残高・振込申請", "",class:"container__side--nav-listing-list-item"
         
        %li.container__side--nav-listing-list
          =link_to "ポイント", "",class:"container__side--nav-listing-list-item"

      %h3.container__side--nav-setting  設定
      %ul.container__side--nav-listing
        %li.container__side--nav-listing-list
          =link_to "プロフィール", "",class:"container__side--nav-listing-list-item"
         
        %li.container__side--nav-listing-list
          =link_to "発送元・お届け先住所変更", "",class:"container__side--nav-listing-list-item"
          
        %li.container__side--nav-listing-list
          =link_to "支払い方法", "",class:"container__side--nav-listing-list-item"
         
        %li.container__side--nav-listing-list
          =link_to "メール/パスワード", "",class:"container__side--nav-listing-list-item"
         
        %li.container__side--nav-listing-list
          =link_to "本人情報", "",class:"container__side--nav-listing-list-item"
    
        %li.container__side--nav-listing-list
          =link_to "電話番号の確認", "",class:"container__side--nav-listing-list-item"
         
        %li.container__side--nav-listing-list
          =link_to "ログアウト", "",class:"container__side--nav-listing-list-choice"

= render "items/footer"