= render "items/header"
.signups-body
  - breadcrumb :logout
  =render 'categories/bread'

%main.container
  .container__content
    .container__content--box
      %form(action="" method="post" class="container__content--box-form")
        .container__content--box-form-content
          = link_to destroy_user_session_path, method: 'DELETE', class: "container__content--box-form-content-btn" do
            ログアウト

  =render 'slide_bar'

= render "items/footer"

=render 'items/selling_btn'