= render "items/header"
.signups-body
  - breadcrumb :profile
  =render 'categories/bread'

%main.container
  .container__content
    %section.container__content--group
      %h2.container__content--group-head プロフィール
      %form(action = "https://www.mercari.com/jp/mypage/profile/" method = "post" class="container__content--group-form")
        %input(type="hidden" name = "a" value="8a7419b24c68d020c073236b35b18516a23f69de2762a8922be567da449fda2bed5c7a38f19ddbd157db4ddf2aa852914c55b730dc5c5a66da48c419c38c2bf8e")
        .container__content--group-form-icon
          %figure.container__content--group-form-icon-image
            = image_tag '/merukari_member_photo.png', class:'.container__content--group-form-icon-image-new', width:'60', height:'60'
          %input(type="text" value="" name="nickname" placeholder="例）AYA☆セール中" class="container__content--group-form-icon-text")
        .container__content--group-form-body
          %textarea(name="introduction" placeholder="例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪" class="container__content--group-form-body-text")
          %input(type="hidden" value="https://www.mercari.com/jp/mypage/profile/" name="")
          %button(type="submit" class="container__content--group-form-body-btn")
            変更する


  =render 'slide_bar'

= render "items/footer"

=render 'items/selling_btn'