.item__message
  .item__message__box
    .item__message__box__content
      %form.item-message
        %p<>
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.text-area
      %button.message-submit
        %span コメントする
      -# %textarea{disabled:"disabled",class:"text-area disabled"}
      -# %button{disabled:"disabled",class:"message-submit disabled"}
        %span
          売り切れのためコメントできません  
    %aside.item-modal