%aside.ad
  .ad__hyde
    =link_to "",class:"ad__hyde__to" do
      =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",class:"ad__hyde__to__image"
      .ad__hyde__to__title 
        スマホでかんたんフリマアプリ
        .ad__hyde__to__title__text 今すぐ無料ダウンロード！       
  .ad__view.hyder
    .ad__view__row
      .ad__view__row__left
        .ad__view__row__left__title スマホでかんたんフリマアプリ
        .ad__view__row__left__text 今すぐ無料ダウンロード！
        .ad__view__row__left__addimages
          =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",class:"ad__view__row__left__addimages__top" 
          =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8",class:"ad__view__row__left__addimages__link" do
            =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",class:"ad__view__row__left__addimages__link__left"
          =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja",class:"ad__view__row__left__addimages__link" do
            =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",class:"ad__view__row__left__addimages__link__right"
      %figure.ad__view__row__right
        =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png",class:"ad__view__row__right__image"

%footer
  %nav.footer-menu
    .footer-menu__about
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si
        メルカリについて
      %ul
        %li
          =link_to "会社概要（運営会社)","",class:"link-color"
        %li
          =link_to "採用情報","",class:"link-color"
        %li
          =link_to "プレスリリース","",class:"link-color"
        %li
          =link_to "公式ブログ","",class:"link-color"
        %li
          =link_to "メルカリロゴ利用ガイドライン","",class:"link-color"
        =link_to "",class:"footer-menu__about__link" do
          =fa_icon "twitter",class:"footer-menu__about__link__icon"
        =link_to "",class:"footer-menu__about__link" do
          =fa_icon "facebook-square",class:"footer-menu__about__link__icon"
    .footer-menu__about
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si
        ヘルプ＆ガイド
      %ul
        %li
          =link_to "メルカリガイド","",class:"link-color"
        %li
          =link_to "らくらくメルカリ便","",class:"link-color"
        %li
          =link_to "ゆうゆうメルカリ便","",class:"link-color"
        %li
          =link_to "大型メルカリ便","",class:"link-color"
        %li
          =link_to "車体取引ガイド","",class:"link-color"
        %li
          =link_to "メルカリあんしん・あんぜん宣言！","",class:"link-color"
        %li
          =link_to "偽ブランド品撲滅への取り組み","",class:"link-color"
        %li
          =link_to "メルカリボックス","",class:"link-color"
    .footer-menu__privacy
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si
        プライバシーと利用規約
      .footer-menu__privacy__row
        %ul
          %li
            =link_to "プライバシーポリシー","",class:"link-color"
          %li
            =link_to "メルカリ利用規約","",class:"link-color"
          %li
            =link_to "あんしんスマホサポート制度に関する利用特約","",class:"link-color"
          %li
            =link_to "コンプライアンスポリシー","",class:"link-color"
      .footer-menu__privacy__row
        %ul
          %li
            =link_to "個人データの安全管理に係る基本方針","",class:"link-color"
          %li
            =link_to "特定商取引に関する表記","",class:"link-color"
          %li
            =link_to "資金決済法に基づく表示","",class:"link-color"
          %li
            =link_to "法令遵守と犯罪抑止のために","",class:"link-color"
    .footer-menu__country
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si
        国
      %ul
        %li
          =link_to "日本","",class:"country-link"
          =link_to "United States","",class:"country-link"
  .credit
    %a.credit__logo
      =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg",class:"credit__logo__image"
    %span.credit__name © 2019 Mercari
