.signups-body
  .single-container	
    = render 'signups/sub-header'
    %main.single-main
      %section.l-single-container.buy
        =render 'pop-transact'
        %h2.l-single-head
          購入が完了しました
        %section.buy__content.buy-item
          .buy__content__inner
            %h3.buy-item-image
              =image_tag src="https://static.mercdn.net/thumb/photos/m88079333407_1.jpg?1571292583"
            %P.buy-item-name
              itemname
        %section.buy__content.buy-item
          .buy__content__inner
            %p.buy-price
              ¥500
              %span.buy-span-fee
                送料込み
        %section.buy__content.buy-user
          .buy__content__inner
            %h3 配送先
            %address.buy-user__text
            %p.buy-user__text
              〒***-****
              %br
              福岡県**市***-****
              %br
              user name
        %section.buy__content.buy-user
          .buy__content__inner
            %h3 支払い方法
            %p.buy-user__text
              ************3311
              %br
              06 / 23
            %figure
              =image_tag src="https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?1248199994",class:"card-image"
        %section.buy__content.buy-flow
          %h3　発想通知後の流れ
          .review-icon
            %i.fas.fa-laugh
            %i.fas.fa-meh
            %i.fas.fa-frown
          %p
            商品を受け取ったら
            %br
            出品者の評価をしましょう。
            %br
            購入代金が出品者に振り込まれます。
            %br
            評価後に取引は完了です。
          =link_to "マイページへ戻る",""
    = render 'signups/sub-footer'                                 