.items-sell
  %hi.items-sell__infomations
    商品の情報を入力
  .items-sell__imgs
  .items-sell__name
  .items-sell__details
  .items-sell__delivery
  .items-sell__price
  %p.items-sell__exhibit
    =limk to 
  %p.items-sell__exhibit
  %p.items-sell__exhibit