-# 商品編集画面のクッション

=render 'header'
.item
  .container.clearfix
    .content
      %section.item__box
        =render 'item'
      .item-change-box
        =link_to "商品の編集",edit_item_path,class:"item-change-box__button btn-red"
        %p or
        %form
          %button.item-change-box__button.btn-gray
            出品を一旦停止する
        %button.item-change-box__button.btn-gray.modalBtn
          商品を削除する
      =render 'comment'

      .overlay
      %aside.modal_new.is-animate.is-show.js-modal
        .modal_new-inner.modal-banner
          .modal-body
            .modal-head 
              確認
              %p 削除すると二度と復活できません。 
              %p 削除する代わりに停止することもできます。
              %br
              %p 本当に削除しますか？
          .clearfix 
            .modal-btn.modal-btn-cancel.js-modal-close.close  キャンセル
            %form
              =link_to "削除する",@item,class:"modal-btn-submit",method: :delete

=render 'footer'
  